#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loader-logo {
    width: 150px;
    height: auto;
    animation: fadeIn 1.5s ease-in-out infinite;
}

@keyframes fadeIn {
    0%,
    100% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .loader-logo {
        width: 120px;
    }
}

@media (max-width: 480px) {
    .loader-logo {
        width: 100px;
    }
}